  
  <!-- JAVASCRIPTS --> 
  <script src='/js/vendor/jquery-2.0.3.min.js'></script>
  <% if(slug =="setup"){%>
  	<script src="js/setup.js"></script>
  <% } %>
  <% if(slug=="canvas"){%>
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="js/canvas.js"></script>
  <% } %>
  <script type="text/javascript" src="//use.typekit.net/ddc6foq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>