
  <!-- JAVASCRIPTS -->
  <script src='/js/vendor/jquery-2.0.3.min.js'></script>
  <script src='/js/vendor/fullscreen.js'></script>
  <% if(slug =="setup"){%>
  	<script src="js/setup.js"></script>
  <% } %>
  <% if(slug=="visualizer"){%>
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="js/fellows2014.json"></script>
  	<script src="js/visualizer.js"></script>
  <% } %>
  </body>
</html>
