<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Instagram Subscriptions</h3>
    <section>
      <form method="POST" action="https://api.instagram.com/v1/subscriptions/" oninput="verify_token.value=object_id.value+'_token'">
        <input name="client_id" type="hidden" value ="<%= instagram.client_id %>">
        <input name="client_secret" type="hidden" value="<%= instagram.client_secret %>">
        <input name="callback_url" type="hidden" value="http://54.87.152.106/instagram">
        <input name="aspect" type="hidden" value="media">
        <input name="verify_token" type="hidden">

        <section>
          Object:
          <select name="object">
            <option value="tag">Tag</option>
          </select>
        </section>
        <section>
          Tag:<input name="object_id" type="text" placeholder="Enter Tag Name Without #">
        </section>
        <section>
          <button type="submit">Create Subscription</button>
        </section>
      </form>
    </section>
    <section>
      <form method="DELETE" action="https://api.instagram.com/v1/subscriptions">
        <input name="client_id" type="hidden" value ="ed630ea7f2ea48f38cb6ba4472d065f0">
        <input name="client_secret" type="hidden" value="96b6ef94c1f64ae181702cc655229f62">
        <button type="submit">Delete All Instagram Subscriptions</button>
      </form>
    </section>
    <section>
      <form method="GET" action="https://api.instagram.com/v1/subscriptions">
        <input name="client_id" type="hidden" value ="ed630ea7f2ea48f38cb6ba4472d065f0">
        <input name="client_secret" type="hidden" value="96b6ef94c1f64ae181702cc655229f62">
        <button type="submit">List All Instagram Subscriptions</button>
      </form>
    </section>
  </body>
</html>
