html, body, section#main {width:100%; height:100%; margin:0px; overflow: hidden;}

h1#title{
	font-family: "tk-din-condensed-web","din-condensed-web-n4","din-condensed-web", sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 80px;
	line-height: .9em;
	position: absolute;
	left: 400px;
	color: #cb3c3e;
	em{ font-style: normal;
		color: #264c73;
		letter-spacing: -1px;
	}
}
section.content{
	h1,h2,h3,h4{ max-width: 1500px;}

	height: 700px;
	//width: 1080px;
	margin: 200px 0 0 0;
	padding: 0px;

	img.sponsor{
	/* SPONSOR IMAGES */
		height: 644px;
		width: auto;
		margin: 0 -80px 0 0;
	}

	img.fellow{

		height: 644px;
		width: auto;
		float: left;
		padding: 0 20px 0 0;
	}
	section.holder{
		width: 600px;
		height: 600px;
		overflow: none;

	}
	img.social.user{
		width: 100px;
		height: 100px;
	}
	img.social.image{
		width: 100%;
		height: 100%;
		//width: 600px;
		//height: 600px;
	}
	h1.fellow{
		font-family: ".tk-din-condensed-web","din-condensed-web-n4","din-condensed-web", sans-serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 143px;
		line-height: .9em;

		em{
			display:block;
			font-style: normal;
		}
	}
	h1.fellow.red{
		color: #cb3c3e;
		em{ color: #264c73 }
	}
	h1.fellow.blue{
		color: #264c73;
		em{ color: #cb3c3e; }
	}

	p.fellow.school{
		font-family: "pt-serif",serif;
		font-style: normal;
		font-weight: 400;
		font-size: 60px;
		line-height: .99em;
		max-width: 1100px;
	}
	p.fellow.school.small{
		font-family: "pt-serif",serif;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: .99em;
		max-width: 1100px;
	}
	p.fellow.company{
		//font-family: "din-condensed-web-n4","din-condensed-web", sans-serif;
		font-family: "pt-serif",serif;

		font-style: normal;
		font-weight: 400;
		font-size: 55px;
		max-width: 1200px;
		//text-transform: uppercase;
	}
	p.fellow.company.large{
		//font-family: "din-condensed-web-n4","din-condensed-web", sans-serif;
		font-family: "pt-serif",serif;

		font-style: normal;
		font-weight: 400;
		font-size: 65px;
		max-width: 1200px;
		//text-transform: uppercase;
	}
	/*
p.fellow.company.red{
		color: #cb3c3e;
	}
	p.fellow.company.blue{
		color: #264c73;
	}
*/
	p.fellow.year{
		font-family: ".tk-din-condensed-web","din-condensed-web-n4","din-condensed-web", sans-serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 60px;
		max-width: 1300px;
		em{
			font-style: normal;
		}
	}
	p.fellow.year.red{
		color: #cb3c3e;
		em{ color: #264c73 }
	}
	p.fellow.year.blue{
		color: #264c73;
		em{ color: #cb3c3e; }
	}

	article.social.image.holder{
		width: 100%;
		height: 580px;
		margin: -60px 0 0;
		overflow: hidden;
		img.social.image{
			height: 100%;
			width: auto;

		}
	}
	article.social.user{
		img{
			float: left;
		}
		h1.social.user{
			font-family: ".tk-din-condensed-web","din-condensed-web-n4","din-condensed-web", sans-serif;
			font-style: normal;
			font-weight: 400;
			padding: 0 0 0 120px;
			em{
				font-style: normal;
				font-size: .8em;
			}
		}
		h1.social.user.blue{
			color: #cb3c3e;
			em{ color: #264c73 }
		}
		h1.social.user.red{
			color: #264c73;
			em{ color: #cb3c3e; }
		}
		p.social.text{
			font-family: "pt-serif",serif;
			font-style: normal;
			max-width: 800px;
			font-size: 21px;
			padding: 0 0 0 120px;
		}

	}
	article.social.user.just-text{
		margin: 360px 0 0;
		p.social.text.just-text{
			font-size: 2.8em;
			max-width: 800px;
		}
	}

}
